
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/index}">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/products}">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/categories}">
              <span data-feather="copy"></span>
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/orders}">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/orderdetails}">
              <span data-feather="bar-chart-2"></span>
              Order Details
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/customers}">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/addresses}">
              <span data-feather="compass"></span>
              Addresses
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Private Area</span>          
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8761" target="_blank">
              <span data-feather="file-text"></span>
              Eureka
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:9090" target="_blank">
              <span data-feather="file-text"></span>
              Prometheus
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000" target="_blank">
              <span data-feather="file-text"></span>
              Grafana
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/products/swagger-ui/index.html" target="_blank">
              <span data-feather="file-text"></span>
              Open API Swagger-UI
            </a>
          </li>       
        </ul>
      </div>
    </nav>
	<script>
      feather.replace();
    </script>
  
  
  