<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
			
	<div class="container" th:replace="~{fragments/head::head}"/>		
	
	<body>
   		
   		<div class="container" th:replace="~{fragments/nav}"/>	
		    
		<div class="container-fluid">
			
			<div class="row">
				
				<div class="container" th:replace="~{fragments/sidebar}"/> 
				
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	      
			      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			        
			        <h1 class="h2">Products Dashboard</h1>
					
			      </div>
			      	
	     		    <div class="container">
						 
						 <h2 class="h3">Delete Product</h2>
						 <h3 class="h4 mt-4 mb-4">Are you sure of deleting this item?</h3>
						 
						<form th:action="@{/products/delete/{id} (id=${product.productId})}" th:objet="${newProduct}" method="get">
							<div class="row g-3">
							  <div class="col-md-2 form-floating">
							    <input type="text" th:field="*{product.productId}" class="form-control form-control-lg bg-gradient text-center" placeholder="Element id" readonly disabled>
							    <label for="productId">Id</label>
							    </div>
							  <div class="col-md-10 form-floating">  
								<input type="text" th:field="*{product.name}" class="form-control form-control-lg  bg-gradient" placeholder="Enter name" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ]+[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\-\.,&:]*" minlength="1" maxlength="50" required readonly disabled>
							    <label for="name">Name</label>
							  </div>					  
							  <div class="col-md-4 form-floating">
							    <input type="text" th:field="*{product.unitPrice}" class="form-control form-control-lg bg-gradient" placeholder="Enter Unit Price" min="0" max="99999" step="0.01" required readonly disabled>
							    <label for="unitPrice">Unit Price</label></div>						  
							  <div class="col-md-4 form-floating">
							    <input type="text" th:field="*{product.unitInStock}" class="form-control form-control-lg bg-gradient" placeholder="Enter Unit in Stock" min="0" max="99999" required readonly disabled>
							    <label for="unitInStock">Unit in Stock</label>
							  </div>						  
							  <div class="col-md-4 form-floating">
							    <input type="text" th:field="*{product.categoryId}" class="form-control form-control-lg bg-gradient" placeholder="Enter Category Id" min="1" max="9999" required readonly disabled>
							    <label for="categoryId">Category Id</label></div>
 							</div> 
 							<div class="mt-4 text-center">
								<button type="submit" class="btn btn-danger bg-gradient">Delete</button>
								<a role="button" class="btn btn-info bg-gradient" th:href="@{/products}">Back</a>											
							</div>	
								
					    </form>			
				
					</div>
					
	    		</main>
				
			</div>			
			
		</div>		   
		
	</body>
	
</html>